@font-face {
	font-family: "OpenSans", sans-serif;
	src:url('../fonts/OpenSans-Light_0.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "OpenSans", sans-serif;
	src:url('../fonts/OpenSans-Regular_0.ttf');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "OpenSans", sans-serif;
	src:url('../fonts/OpenSans-Bold_0.ttf');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "OpenSans", sans-serif;
	src:url('../fonts/OpenSans-ExtraBold.ttf');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: "FontAwesome";
	src:url('../fonts/fontawesome-webfont.ttf');
	font-style: normal;
	font-weight: 900;
}
/*GENERAL*/
$general_font: "Open Sans", sans-serif;
/*$title_font: "MyriadPro-Regular";*/
$icon_font:"FontAwesome";

html {
	box-sizing: border-box; 
	height: 100%;
}

*, *:after, *:before {
	box-sizing: inherit; }

	a {
		text-decoration: none; 
	}
	.text-center{
		text-align: center;
	}
	body{
		min-height: 100%;
		margin:0;
		padding:0;
	}
	.container{
		max-width:980px;
		width:100%;
	}
	.clearfix{
		clear:both;
	}
	.center{
		text-align: center;
	}

	button:hover, a:hover{
		transition: all .4s ease-in-out;
	}
/*header start*/
header{
	z-index:99999;
	#first-header-block{
		background-color: #046b98;
		padding:15px 0px 15px 0px;
		.logo-block{
			float:left;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display:flex;
			flex-direction:row;
			justify-content: flex-start;
			align-items:center;
			align-content:center;
			.logo{
				width: 55px;
				height:auto;		
			}
			.center-name{
				width:65%;
				float:left;
				margin-left: 12px;
				font-family: $general_font;
				color: #e9e9e9;
				font-size: 14px; 
				font-weight: 700;
				line-height: 18px;
				text-align: left;
				@media screen and(max-width:490px){
					font-size: 12px; 
					margin-left: 8px;
				}
			}
		}
		.header-modal{
			margin-top: 5px;
			float:right;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display:flex;
			flex-direction:row;
			justify-content: flex-start;
			align-items:center;
			align-content:center;
			.header-phone a{
				font-family: $general_font;
				color: #e9e9e9;
				font-size: 18px; 
				font-weight: 700;
				line-height: 30px;
				text-align: left;
				vertical-align: middle;
				margin-right:20px;
				@media screen and(max-width:990px){
					font-size: 12px; 
				}
				@media screen and(max-width:700px){
					display: none;				}
				}
				.icon-phone{
					font-family: $icon_font;
					color: #e9e9e9;
					font-size: 18px; 
					font-weight: 400;
					line-height: 30px;
					text-align: left;
					margin-right:4px;
				}
				.modal-button{
					position: relative;
					outline:none;
					padding:10px 26px;
					border-radius: 10px;
					background-color: #ff2728;
					font-family: $general_font;
					color: #e9e9e9;
					font-size: 14px; 
					font-weight: 700;
					line-height: 14px;
					&:hover{
						-moz-opacity:0.5;
						-webkit-opacity:0.5;
						opacity:0.5;
						filter: alpha(opacity=50)
					}
					@media screen and(max-width:700px){
						padding:10px 15px;
					}
					@media screen and(max-width:490px){
						font-size: 12px; 
						padding:8px 12px;
					}
				}
			}
		}
	}
	@media screen and(max-width:700px){
		.phone_invisible:after{
			position: absolute;
			bottom:-15px;
			right:8px;
			content:'+7 (495) 789-01-93';
			font-size: 12px;
			color:#fff;
			padding:10px;
			padding-left:28px;
			text-decoration: none;
		}
	}
	@media screen and(max-width:415px){
		.phone_invisible:after{
			top:25px;
			right:8px;
		}
	}
	#second-header-block{
		.second-block-bg{
			background-color: #7fbfe3;
			-moz-box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.21);
			-webkit-box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.21);
			box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.21);
		}
		.menu{
			display:none;
		}
		ul{
			margin:0 16px;
			list-style:none;
			font-size: 0px;
			padding: 18px 0px;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display:flex;
			flex-direction:row;
			justify-content: space-between;
			align-items:center;
			align-content:center;
		}
		ul li{
			display:inline-block;
		}
		ul li a{
			font-family: $general_font;
			color: #feffff;
			font-size: 16px;
			font-weight: 700;
			text-align: left;
			line-height: 16px;
			&:hover{
				color: #046b98;
				text-decoration: none;	
			}
		}
	}

	@media screen and(max-width:990px){
		header{
			#second-header-block{
				.second-block-bg{
					padding-bottom: 15px;
				}
				overflow: hidden;
				width:100%;
				z-index:999999;
				.menu{
					display:block;
					img{
						padding-left:15px;
						padding-top: 17px;
						&:hover{
							-webkit-filter: brightness(100%) contrast(150%);
							filter: brightness(100%) contrast(150%);
							transition: filter .8s ease-in-out; 
						}
					}
				}
				ul{
					display:none;
				}
				ul li{
					width:100%;
					border-bottom: 2px solid #046b98;
					background: #046b98;
					padding:10px 0px;
				//padding-top: 5px;
				text-align: center;
			}
			ul li:first-child{
				padding-top: 50px;
			}
			ul li:last-child{
				padding-bottom: 50px;
			}
			ul li a{
				font-size: 20px;
				line-height: 1.2em;
				&:hover{
					color: #7fbfe3;
				}
			}
			
		}
	}
}
#recovery{
	background: url('../img/bg1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:56px 0;//86px 0;
	h1{
		font-family: $general_font;
		color: #046b98;
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
		text-align: left;
	}
	h1 span{
		font-size: 70px;
	}
	@media screen and(max-width: 600px){
		h1{
			font-size: 25px;
			line-height: 29px;
		}
		h1 span{
			font-size: 48px;
		}
	}
	h3{
		font-family: $general_font;
		color: #046b98;
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		text-align: left;
		padding-bottom: 30px;
	}
	ul{
		list-style: none;
		margin-left: -40px;
	}
	ul li span{
		font-family: $icon_font;
		color: #046b98;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px; 
		text-align: left;
		margin-right: 9px;
	}
	ul li{
		font-family: $general_font;
		color: #046b98;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
}
.rec-meth{
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	padding-top: 20px;
}
.rec-meth-text{
	font-family: $general_font;
	color: #046b98;
	font-size: 18px; 
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-left: 12px;
}

.rec-meth:before{
	font-family: $general_font;
	content:'!';
	color: #7fbfe3;
	font-size: 85px;
	font-weight: 700;
	text-align: left;
	line-height: 67px;
	margin-left: -5px;
}
#free-appointment{
	width:100%;
	background-color: #046b98;
	border-radius: 30px;
	padding: 10px 39px;
	margin-top: 33px;
	.header_1{
		font-family: $general_font;
		color: #ffffff;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2em; 
		text-align: center;
	}
	p{
		font-family: $general_font;
		color: #ffffff;
		font-size: 14px; 
		font-weight: 400;
		text-align: left;
		margin-bottom: 20px;
	}
	input, button{
		outline:none;
		border:none;
		width:100%;
		border-radius: 10px;
		margin-bottom: 15px;
	}
	button{
		background-color: #ff2728;
		font-family: $general_font;
		font-weight: 700;
		text-align: center;
		color: #ffffff;
		font-size: 18px;
		line-height: 1em; 
		font-weight: 700;
		text-align: center;
		padding:14px 0px;
		&:hover{
			-moz-opacity:0.5;
			-webkit-opacity:0.5;
			opacity:0.5;
			filter: alpha(opacity=50)
		}
	}
	input{
		font-family: $general_font;
		color: #046b98;
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
		text-align: left;
		padding:15px;
	}
	input::-webkit-input-placeholder {
		color: #046b98;
		font-size: 12px;
	}
}
#we_help{
	outline: none;
	background-image: url('../img/bg2.jpg');
	//background-size: cover;
	background-repeat: repeat;
	padding:86px 0;
	-moz-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	h3{
		font-family: $general_font;
		color: #046b98;
		font-size: 36px; 
		font-weight: 700;
		line-height: 1.2em;
		text-align: left;
		margin-bottom: 42px;
	}
	@media screen and(max-width:600px){
		padding:50px 0;
		h3{
			font-size: 25px; 
			line-height: 29px;
			text-align: center;	
			margin-bottom: 22px;			
		}
	}
	.help-list{
		.help-item{
			position:relative;
			font-family: $general_font;
			color: #046b98;
			font-size: 18px; 
			font-weight: 700;
			line-height: 14px;
			text-align: left;
			margin-bottom: 22px;
			padding:28px;
			border-radius: 30px;
			background-color: #e9e9e9;
			overflow: hidden;
			padding-left: 122px;
			word-wrap: break-word;
			.num-block{
				position: absolute;
				top:0;
				left:0;
				font-family: $general_font;
				color: #fefefe;
				background-color: #046b98;
				font-size: 72px; 
				font-weight: 700;
				line-height: 0px; 
				text-align: left;
				width:94px;
				height:150px;
				padding:37px 32px 19px 35px;
			}
		}	
		@media screen and(max-width:600px){
			.help-item{
				font-size: 15px; 
				line-height: 18px;	
				padding:18px;
				padding-left: 25%;
				.num-block{
					font-size: 50px; 
				}
			}
			
		}
		@media screen and(max-width:480px){
			.help-item{
				padding-left: 33%;
			}
			
		}
	}
}
#method_block{
	color: #e9e9e9;
	padding:86px 0;
	background: url('../img/bg3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	h3{
		font-family: $general_font;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2em;
		text-align: left;
	}
	@media screen and(max-width:700px){
		h3{
			font-size: 32px;
			line-height: 35px;
		}
	}
	h4{
		font-family: $general_font;
		font-size: 24px; 
		font-weight: 700;
		line-height: 1.2em; 
		text-align: left;
		margin-bottom: 25px;
	}
	@media screen and(max-width:700px){
		h4{
			font-size: 25px;
			line-height: 29px;
			font-weight: 400;
		}
	}
	ul{
		list-style: none;
		margin-left: -50px;
	}
	ul li{
		font-family: $general_font;
		font-size: 17px;//18px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
		margin-bottom: 10px;
	}
	.check_mark{
		font-family: $icon_font;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px; 
		text-align: left;
		margin-right: 9px;
	}
	.accent_text{
		font-family: $general_font;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px; 
		text-align: left;
	}
	.video_m_block{
		height: 262px;
		-moz-border-radius: 30px;
		-webkit-border-radius: 30px;
		-o-border-radius: 30px;
		border-radius: 30px;
		background-color: #dcdcdc;
		width: 458px;
		height: 262px;
		overflow: hidden;
		iframe{
			height: 100%;
			width:100%;
			border:none;
		}
		@media screen and(max-width:490px){
			margin-top: 20px;
			width: 100%;
			height: auto;
			text-align: center;
		}
	}
}
#comparison{
	padding:86px 0;
	background-image: url('../img/bg4.jpg');
	background-repeat: repeat;
	//background-size: cover;
	@media screen and(max-width:700px){
		padding:50px 0;
	}
	h3{
		font-family: $general_font;
		color: #046b98;
		font-size: 36px;
		font-weight: 700;
		line-height: 24px;
		text-align: left;
		margin-bottom: 25px;
		@media screen and(max-width:700px){
			font-size: 32px;
			line-height: 35px;
			text-align: center;
		}
	}
	h4{
		font-family: $general_font;
		color: #046b98;
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		text-align: left;
		margin-bottom: 25px;
		@media screen and(max-width:700px){
			font-size: 24px;
			font-weight: 400;
			line-height: 27px;
			text-align: center;
		}
	}
	.comparison_table{
		border-radius: 30px;
		background-color: #7fbfe3;
		width: 100%;
		height: auto;
		overflow: hidden;
		display:flex;
		display: -webkit-flex;
		flex-direction: row;
		justify-content:center;
		align-items:center;
		align-content: center;
		.table-column{
			border-left: 5px solid #dedede; 
			@media screen and(max-width:780px){
				border-left: 2px solid #dedede; 
			} 
		}
		.table-column:first-child{
			border-left: none; 
		}
		h5{
			font-family: $general_font;
			color: #046b98;
			font-size: 18px;
			font-weight: 700;
			padding: 18px 0px;
			@media screen and(max-width:780px){
				font-size: 14px;
				padding: 10px 0px;
				word-wrap: break-word;
			} 
		}
		h5, .features {
			border-bottom: 5px solid #dedede; 
			height:90px;
			@media screen and(max-width:780px){
				height:70px;
				border-bottom: 2px solid #dedede; 
			} 
			@media screen and(max-width:600px){
				height:80px;
				word-wrap: break-word; 
			} 
		}
		.features{
			padding:25px 0;
			@media screen and(max-width:780px){
				padding: 10px 0px;
			} 
		}
		img{
			align-self:baseline;
			vertical-align: middle;
		}
		.features:last-child{
			border-bottom:none;
		}
		.one-col{
			width:50%;	
			text-align: left;	
			font-family:$general_font;
			color: #ffffff;
			font-size: 18px; 
			font-weight: 700;
			line-height: 24px;
			@media screen and(max-width:780px){
				font-size: 14px; 
				font-weight: 700;
				line-height: 18px;
			} 
		}
		.two-col, .three-col{
			width:25%;
		}
		.left-spacing{
			padding-left:35px;
			@media screen and (max-width: 730px){
				padding-left: 0px;
				text-align: center;
			}
		}
	}
}
#free-consultation{
	background-image: url('../img/bg3.jpg');
	background-size: cover;
	.consultation_bg{
		background-color: rgba(127,191,227, .8);
		padding:86px 0;
		-moz-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
		-webkit-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
		box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	}
	h3{
		font-family: $general_font;
		color: #e9e9e9;
		font-size: 36px;
		font-weight: 700;
		line-height: 36px;
		text-align: left;
	}
	h4{
		font-family: $general_font;
		color: #e9e9e9;
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		text-align: left;
	}
	@media screen and(max-width:600px){
		h3{
			font-size: 32px;
			line-height: 35px;
		}
		h4{
			font-size: 25px;
			line-height: 29px;
			font-weight: 400;
		}
	}

}

#free-consultation form{
	width:85%;
	margin:0 auto;
	ul{
		list-style: none;
		font-size: 0;
	}
	ul li{
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	ul li:last-child{
		margin-right: 0px;
	}
	input, button{
		width:222px;
		outline:none;
		border:none;
		border-radius: 10px;
	}
	button{
		background-color: #ff2728;
		font-family: $general_font;
		font-weight: 700;
		text-align: center;
		color: #ffffff;
		font-size: 18px;
		line-height: 1em; 
		font-weight: 700;
		text-align: center;
		padding:14px 0px;
		&:hover{
			-moz-opacity:0.5;
			-webkit-opacity:0.5;
			opacity:0.5;
			filter: alpha(opacity=50)
		}
	}
	input{
		font-family: $general_font;
		color: #046b98;
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
		text-align: left;
		padding:15px;
	}
	input::-webkit-input-placeholder {
		color: #046b98;
		font-size: 12px;
	}
}
@media screen and(max-width:1000px){
	#free-consultation form{
		width:100%;
		margin-top: 20px;
		ul{
			margin-left: -35px;
		}
	}
}

@media screen and(max-width:1000px){
	#free-consultation{
		h3{
			font-size: 32px;
			line-height: 35px;
			margin-bottom: 20px;
		}
		h4{
			font-size: 25px;
			line-height: 29px;
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
}

#team{
	padding:86px 0;
	background: #3d8cae;
	@media screen and(max-width:700px){
		padding:50px 0;
	}
	h3{
		font-family: $general_font;
		color: #e9e9e9;
		font-size: 36px;
		font-weight: 700;
		line-height: 40px;
		text-align: left;
		margin-bottom: 22px;
		@media screen and(max-width:700px){
			font-size: 32px;
			line-height: 35px;
			text-align: center;
			margin-bottom: 28px;
		}
	}
	h4{
		font-family: $general_font;
		color: #e9e9e9;
		font-size: 24px;
		font-weight: 700;
		line-height: 18px;
		text-align: left;
		margin-bottom: 35px;
		@media screen and(max-width:700px){
			font-size: 25px;
			line-height: 29px;
			font-weight: 400;
			text-align: center;
			margin-bottom: 21px;
		}
	}
	.profi_one{
		border-radius: 30px;
		background-color: rgb(233, 233, 233);
		overflow: hidden;
		margin-bottom: 25px;
		img{
			width:100%;
			height:auto;
		}
		.profi_info{
			padding: 24px;
			.profi_name{
				font-size: 18px;
				font-family: $general_font;
				color: rgb(4, 107, 152);
				font-weight: 700;
				line-height: 1;
				margin-bottom: 15px;
				span{
					text-transform: uppercase;
				}
			}
			p{
				font-size: 14px;
				font-family: $general_font;
				color: rgb(4, 107, 152);
				line-height: 14px;
			}
		}
	}
}
#certificates{
	background-image: url('../img/bg3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	.certificates_bg{
		background-color: rgba(233,233,232, .7);
		padding:86px 0px;
	}
	h3{
		font-family: $general_font;
		color: #046b98;
		font-size: 36px; 
		font-weight: 700;
		line-height: 18px; 
		text-align: left;
		margin-bottom: 50px;
	}
	.fancy-content{
		position: relative;
		display:inline-block;
		height:216px;
		width:140px;
		border-radius: 30px;
		overflow: hidden;
		margin-right: 20px;
		margin-bottom: 20px;
		&:hover{
			span{
				position: absolute;
				bottom: 0;
				right:0px;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-color: #7fbfe3;
				display: flex;
				flex-direction:row;
				justify-content:center;
				align-items:center;
				img{
					outline:none;
					width:50%;
					height:auto;
				}
			}
		}
		img{
			width:100%;
			height:100%;
			text-align: center;
			vertical-align: middle;
		}
		li:last-child{
			margin-right: 0px;
		}
	}
	@media screen and(max-width:700px){
		h3{
			font-size: 32px; 	
			line-height: 35px; 
			text-align: center;
		}
	}
}

#feedback{
	background-image: url('../img/bg4.jpg');
	background-repeat: repeat;
	//background-size: cover;
	overflow: hidden;
	outline: none;
	-moz-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	.feedback-bg{
		background-color: rgba(127, 191, 227, 0.48);
		padding:86px 0;	
	}	
	h3{
		font-family: $general_font;
		color: #046b98;
		font-size: 36px;
		font-weight: 700;
		line-height: 18px;
		text-align: left;
		margin-bottom: 36px;
	}
	.feedback-slider{
		.slide{
			cursor:pointer;
			margin-bottom: 20px;
			overflow: hidden;
			outline: none;
		}
		.slick-dots{
			position: absolute;
			bottom: 0px;
		}
		.slick-dots li{
			border-radius: 50%;
			background-color: #046b98;
		}
		.slick-dots li button:before{
			color:rgba(220, 220, 220, 1);
			border-radius: 50%;
			background-color: rgba(220, 220, 220, 1);
			width: 20px;
			height: 20px;
			text-align: center;
		}
		p{
			font-family: $general_font;
			color: #046b98;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px; 
			text-align: left;
			height:60px;
			@media screen and(max-width:700px){
				text-align: center;
			}
		}
		.video_m_block{
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			-o-border-radius: 30px;
			border-radius: 30px;
			background-color: #dcdcdc;
			width: 100%;
			height: 262px;
			overflow: hidden;
			margin-bottom: 32px;
			iframe{
				height: 100%;
				width:100%;
				overflow: hidden;
				border:none;
			}
		}
	}
	@media screen and(max-width:700px){
		h3{
			font-size: 32px; 	
			line-height: 35px; 
			text-align: center;
		}
		.video_m_block{
			margin-top: 20px;
			width: 100%;
			height: auto;
			text-align: center;
		}
	}
}
#services{
	background-image: url('../img/bg4.jpg');
	background-repeat: repeat;
	.services_bg{
		background-color: rgba(233,233,233, .5);
		padding:86px 0;
		-moz-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
		-webkit-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
		box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
		h3{
			font-size: 36px;
			font-family: $general_font;
			color: #046b98;
			font-weight: 700;
			line-height: 36px;
			margin-bottom: 45px;
			@media screen and(max-width:700px){
				font-size: 32px; 	
				line-height: 35px; 
				text-align: center;
			}
		}
		.services_block{
			padding:30px;
			border-radius: 30px;
			overflow: hidden;
			background-color: #7fbfe3;
			position: relative;
			height: 490px;
			margin-bottom: 45px;
		}
	}
	.price{
		position: absolute;
		top:0;
		left:0;
		padding:30px;
		height:191px;
		width:100%;
		padding-bottom: 40px;
		background-color: #046b98;
	}
	.free_price{
		font-size: 18px;
		font-family:  $general_font;
		color: #e9e9e9;
		font-weight: 700;
		line-height: 21px;
		text-transform: uppercase;
	}
	h5{
		font-size: 24px;
		font-family:  $general_font;
		color: #e9e9e9;
		font-weight: 700;
		line-height: 28px;
	}
	h6{
		font-size: 18px;
		font-family: $general_font;
		color: #e9e9e9;
		font-weight: 700;
		line-height: 21px;
	}
	p{
		font-size: 18px;
		font-family: $general_font;
		color: #e9e9e9;
		font-weight: 300;
		line-height: 21px;
	}
	.description{
		padding-top: 191px;
		padding-bottom: 38px;
		background-color: #7fbfe3;
		.dark{
			font-size: 18px;
			font-family: $general_font;
			color: #046b98;
			font-weight: 700;
			line-height: 21px;
			margin-bottom: 5px;
		}
		.description_text{
			font-size: 14px;
			font-family:  $general_font;
			color: #046b98;
			line-height: 19px;
			font-weight: 400;
		}
	}
	h4{
		font-family: $general_font;
		color: #046b98;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		text-align: left;
		margin-bottom: 35px;
		@media screen and(max-width:700px){
			font-size: 25px;
			line-height: 29px;
			font-weight: 400;
			text-align: center;
			font-size: 23px;
		}
	}
	@media screen and(max-width:1100px){
		*{
			text-align: center;
		}
	}
}
#questions{
	background-image: url('../img/bg3.jpg');
	background-size: cover;
	-moz-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	.questions_bg{
		background-color: rgba(127,191,227, .8);
		padding:86px 0;
		h3{
			font-size: 36px;
			font-family: $general_font;
			color: #e9e9e9;
			font-weight: 700;
			line-height: 39px;
			@media screen and(max-width:700px){
				font-size: 32px; 	
				line-height: 35px; 
				text-align: center;
			}
		}
		.q_block{
			margin-top: 40px;
		}
		.tabs-menu ul{
			list-style: none;
			font-size: 0px;
		}
		.tabs-menu ul li{
			margin-bottom: 20px;			
			font-size: 18px;
			font-family: $general_font;
			color: #e9e9e9;
			font-weight: 700;
			line-height: 21px;
			cursor:pointer;			
		}
		.tabs-menu ul li:hover,
		.tabs-menu ul li.active{
			text-decoration: underline;
		}
	} 
	.envelope_block{
		background-color: #e9e9e9;
		height: 100%;
		width:100%;
		border-radius: 30px;
		overflow: hidden;
		display: flex;
		flex-direction:column;
		justify-content:space-between;
		padding:30px;
		.tab-content{
			display:none;
		}
		.tab-content.active{
			display:block;
			.top_e{
				p{
					font-size: 14px;
					font-family: $general_font;
					color: #046b98;
					line-height: 19px;
				}
				.address_block{
					margin-top: 100px;
					a{
						font-size: 18px;
						font-family: $general_font;
						color: #046b98;
						line-height: 21px;
						float:right;
						img{
							margin-right: 14px;
						}
					}
				}
			}
		}
	}
}
#contacts{
	background-image: url('../img/bg3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	.contacts_bg{
		background-color: rgba(233,233,232, .8);
		padding:70px 0px;
	}
	h3{
		font-family: $general_font;
		color: #046b98;
		font-size: 36px; 
		font-weight: 700;
		line-height: 18px; 
		text-align: left;
	}
	.contact_block{
		margin-top: 50px;
		.title_block{
			font-size: 24px;
			font-family: $general_font;
			color: #046b98;
			font-weight: 700;
			line-height: 28px;
			display:flex;
			flex-direction:row;
			justify-content:flex-start;
			align-items:center;
			div{
				display:flex;
				justify-content:center;
				align-items:center;
				border-radius: 50%;
				background-color: #7fbfe3;
				width:60px;
				height: 60px;
				margin-right: 10px;
			}
		}	
		.contact_info{
			margin-top: 15px;
			font-size: 18px;
			font-family: $general_font;
			color: #046b98;
			line-height: 21px;
			.contact_info .envelope{
				margin-top: 15px;
				font-size: 18px;
				font-family: $general_font;
				color: #046b98;
				line-height: 21px;
			}
			span a{
				font-size: 30px;
				font-weight: 700;
				line-height: 30px;
			}
		}
	}
}
footer{
	position:relative;
	padding: 30px 0;
	background-color: #046b98;
	//display: flex;
	//flex-direction:row;
	.logo-block{
		float:left;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display:flex;
		flex-direction:row;
		justify-content: flex-start;
		align-items:center;
		align-content:center;
		.logo{
			width: 55px;
			height:auto;		
		}
		.center-name{
			width:65%;
			float:left;
			margin-left: 12px;
			font-family: $general_font;
			color: #e9e9e9;
			font-size: 14px; 
			font-weight: 700;
			line-height: 18px;
			text-align: left;
			@media screen and(max-width:490px){
				font-size: 12px; 
				margin-left: 8px;
			}
		}
	}
	.copywrite{
		font-size: 14px;
		font-family: $general_font;
		color: #e9e9e9;
		line-height: 14px;
		padding-top: 15px;
		@media screen and(max-width: 510px){
			position:absolute;
			top:50px;
			left:12px;
		}
	}
	button{
		background-color: transparent;
		border:1px solid #e9e9e9;
		border-radius: 10px;
		outline:none;
		font-size: 18px;
		font-family: $general_font;
		color: #e9e9e9;
		font-weight: 700;
		line-height: 18px;
		padding:13px 0;
		width:100%;
		&:hover{
			background-color: #e9e9e9;
			color: #046b98;
		} 
		@media screen and(max-width: 1000px){
			width: 100px;
			float:right;
			margin-top: 20px;
		}
	}
}
#free-consultation2{
	background-image: url('../img/bg3.jpg');
	background-size: cover;
	-moz-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 12.61px 0.39px rgba(0, 0, 0, 0.28);
	.consultation_bg{
		background-color: rgba(127,191,227, .1);
		padding:86px 0;
	}
	h3{
		font-family: $general_font;
		color: #e9e9e9;
		font-size: 36px;
		font-weight: 700;
		line-height: 36px;
		text-align: left;
		margin-bottom: 35px;
	}
	h4{
		font-family: $general_font;
		color: #e9e9e9;
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		text-align: left;
		margin-bottom: 35px;
	}
	@media screen and(max-width:750px){
		h3, h4{
			text-align: center;
		}
	}
	@media screen and(max-width:600px){
		h3{
			font-size: 25px;
			line-height: 29px;
		}
		h4{
			font-size: 25px;
			line-height: 29px;
			font-weight: 400;
		}
	}
}
#free-consultation2 form,
#free-consultation3 form {
	width:85%;
	margin:0 auto;
	ul{
		list-style: none;
		font-size: 0;
	}
	ul li{
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	ul li:last-child{
		margin-right: 0px;
	}
	input, button{
		width:222px;
		outline:none;
		border:none;
		border-radius: 10px;
	}
	button{
		background-color: #ff2728;
		font-family: $general_font;
		font-weight: 700;
		text-align: center;
		color: #ffffff;
		font-size: 18px;
		line-height: 1em; 
		font-weight: 700;
		text-align: center;
		padding:14px 0px;
		&:hover{
			-moz-opacity:0.5;
			-webkit-opacity:0.5;
			opacity:0.5;
			filter: alpha(opacity=50)
		}
	}
	input{
		font-family: $general_font;
		color: #046b98;
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
		text-align: left;
		padding:15px;
	}
	input::-webkit-input-placeholder {
		color: #046b98;
		font-size: 12px;
	}
}
@media screen and(max-width:1000px){
	#free-consultation2 form,
	#free-consultation3 form {
		width:100%;
		margin-top: 20px;
		ul{
			margin-left: -35px;
		}
	}
}
@media screen and(max-width:1000px){
	#free-consultation2,
	#free-consultation3 {
		h3{
			font-size: 32px;
			line-height: 35px;
			margin-bottom: 20px;
		}
		h4{
			font-size: 25px;
			line-height: 29px;
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
}

#free-consultation3{
	background-image: url('../img/bg4.jpg');
	//background-size: cover;
	background-repeat: repeat;
	.consultation_bg{
		background-color: rgba(4,107,152, .76);
		padding:86px 0;
	}
	h3{
		font-family: $general_font;
		color: #e9e9e9;
		font-size: 36px;
		font-weight: 700;
		line-height: 36px;
		text-align: left;
		margin-bottom: 35px;
	}
	h4{
		font-family: $general_font;
		color: #e9e9e9;
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		text-align: left;
		margin-bottom: 35px;
	}
	@media screen and(max-width:600px){
		h3{
			font-size: 25px;
			line-height: 29px;
		}
		h4{
			font-size: 25px;
			line-height: 29px;
			font-weight: 400;
		}
	}
}

@media screen and(max-width:740px){
	#free-consultation,
	#free-consultation2,
	#free-consultation3,
	#free-consultation4{
		.consultation_bg{
			padding:50px 0;
		}
		h3, h4{
			text-align: center;
		}
		text-align: center;
		button{
			margin-left: -13px;
		}
	}
}


.modal{
	width:100%;
	height:100%;
	background-color: rgba(4, 107, 152, 0.9);
}
.modal-content{
	-webkit-box-shadow: none;
	box-shadow: none;
	width:300px;
	height:310px;
	background-color: #7fbfe3;
	border: 1px solid transparent;
	padding: 20px;
	outline:none;
	margin: 0 auto;
	margin-top: 25%;
	border-radius: 30px;
	.close{
		//float:right;
		color:#026a99;
		text-shadow:none;
		outline:none;
		-webkit-opacity:1;
		opacity:1;
		&:hover{
			color:#e9e9e9;
		}
	}
	ul{
		list-style:none;
		font-size: 0;
		margin-left: -38px;
		li{


		}
	}
	input{
		outline:none;
		border:none;
		width:221px;
		border-radius: 10px;
		margin-bottom: 15px;
	}
	#submit-appointment_free{
		background-color: #ff2728;
		font-family: $general_font;
		font-weight: 700;
		text-align: center;
		color: #ffffff;
		font-size: 18px;
		line-height: 1em; 
		padding:14px 0px;
		outline:none;
		border:none;
		width:221px;
		border-radius: 10px;
		&:hover{
			-moz-opacity:0.5;
			-webkit-opacity:0.5;
			opacity:0.5;
			filter: alpha(opacity=50)
		}
	}
	input{
		font-family: $general_font;
		color: #046b98;
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
		text-align: left;
		padding:15px;
	}
	input::-webkit-input-placeholder {
		color: #046b98;
		font-size: 12px;
	}
}
.modal-body{
	.docs{
		margin:0 auto;
		margin-top: -35px;
		border:2px solid #046b98;
	}
}
.modal-header{
	border-bottom: none;
	padding-bottom: 0px;
	.header_1{
		margin-top: 0;
		font-family: $general_font;
		color: #026a99;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2em; 
		text-align: center;
	}
	p{
		font-family: $general_font;
		color: #026a99;
		font-size: 14px; 
		font-weight: 400;
		text-align: left;
		margin:0 auto;
		//margin-bottom: 20px;
	}
}
.error{
	background: #ffb492;
}

#second-header-block.default {
	width:100%;
}
#second-header-block.fixed {
	position:fixed;
	top:0; left:0;
	width:100%;
  //padding: 15px 45px;
  -moz-box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.21);
  z-index: 9999999;
}

@media screen and(max-width:525px){
	#free-consultation,
	#free-consultation2,
	#free-consultation3,
	#free-consultation4{
		li{
			width:100%;
			text-align: center;	
			button{
				margin-left: 0px;
			}
		}
	}
}
@media screen and(max-width:980px){
	#contacts{
		.contact_block{
			margin-top: 30px;
			.title_block{
				font-weight: 400;
				div {
					width:45px;
					height:45px;
					img{
						width: 40%;
						height:auto;
					}
				}
			}
			.contact_info .envelope{
				font-size: 17px;
			}
			.contact_info span a{
				font-size: 17px;
			}
		}
	}
}

.modal_button_check{
	background-color: #ff2728;
	font-family: $general_font;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	line-height: 1em; 
	padding:14px 0px;
	outline:none;
	border:none;
	width:221px;
	border-radius: 10px;
	&:hover{
		-moz-opacity:0.5;
		-webkit-opacity:0.5;
		opacity:0.5;
		filter: alpha(opacity=50)
	}
}
